{% extends "AppBundle::base.html.twig" %}

{% block title %}AppBundle:Product:index{% endblock %}

{% block body %}
<h1>The Product Page</h1>

  {# Table #}
  <div class="ppp-table-container">
      <table class="table table-striped">
        <thead>
          <a href="{{ path('app_product_create') }}" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Add Product</a>
          <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Category</th>
            <th class="text-center">Label</th>
            <th class="text-center">Libellé</th>
            <th class="text-center">Etikett</th>
            <th class="text-center">Price</th>
          </tr>
        </thead>
        <tbody>
        {% for p in products %}
          
          <tr class="ppp-action-container">
            <td>{{ p.id }}</td>
            <td>{{ p.category.labelEn is null ? "-" : p.category.labelEn }}</td>
            
            {% if p.labelEn is null %}
            <td class="ppp-not-translated">Not translated</td>
            {% else %}
            <td>{{ p.labelEn }}</td>
            {% endif %}
            
            {% if p.labelFr is null %}
            <td class="ppp-not-translated">Non traduit</td>
            {% else %}
            <td>{{ p.labelFr }}</td>
            {% endif %}
            
            {% if p.labelDe is null %}
            <td class="ppp-not-translated">Nicht übersetzt</td>
            {% else %}
            <td>{{ p.labelDe }}</td>
            {% endif %}

            <td>{{ p.price }}</td>
            <td class="text-center ppp-action-block">
              <a class='btn btn-info btn-xs' href="{{ path('app_product_change', {'id': p.id})}}"><span class="glyphicon glyphicon-edit"></span></a>
              <a class="btn btn-danger btn-xs" href="{{ path('app_product_delete', {'id': p.id})}}"><span class="glyphicon glyphicon-remove"></span></a>
            </td>
          </tr>

        {% endfor %}
        </tbody>
      </table>
  </div>


{% endblock %}
