{% extends "AppBundle::base.html.twig" %}

{% block title %}AppBundle:Category:index{% endblock %}

{% block body %}
<h2>Category removal</h2>

  {% block ocplatform_body %}
  <div class="well ppp-middle-form">

    <div class="alert alert-danger">
      <strong>Attention!</strong> Do you really want to delete the category <strong>"{{ category.labelEn }}"</strong>?
    </div>

    <form action="{{ path('app_category_delete', {'id': category.id}) }}" method="post">

      <a href="{{ path('app_categories', {'id': category.id}) }}" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Cancel
      </a>

      <input type="submit" value="Delete {{ category.labelEn }}" class="btn btn-danger" />

      {{ form_rest(form) }}
    </form>
  </div>
  {% endblock %}

{% endblock %}
