{% extends "AppBundle::base.html.twig" %}

{% block title %}AppBundle:Category:index{% endblock %}

{% block body %}
<h1>The Category Page</h1>

  {# Table #}
  <div class="ppp-table-container">
      <table class="table table-striped">
        <thead>
          <a href="{{ path('app_category_create') }}" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Ajouter Catégorie</a>
          <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Label (en)</th>
            <th class="text-center">Libellé (fr)</th>
            <th class="text-center">Etikett (de)</th>
          </tr>
        </thead>
        <tbody>
        {% for c in categories %}
          
          <tr class="ppp-action-container">
            <td>{{ c.id }}</td>
            <td>{{ c.labelEn }}</td>
            <td>{{ c.labelFr }}</td>
            <td>{{ c.labelDe }}</td>
            <td class="text-center ppp-action-block">
              <a class='btn btn-info btn-xs' href="{{ path('app_category_change', {'id': c.id})}}"><span class="glyphicon glyphicon-edit"></span></a>
              <a class="btn btn-danger btn-xs" href="{{ path('app_category_delete', {'id': c.id})}}"><span class="glyphicon glyphicon-remove"></span></a>
            </td>
          </tr>

        {% endfor %}
        </tbody>
      </table>
  </div>


{% endblock %}
