{% extends 'TsukaimaBundle::base.html.twig' %}
{% block title %}TsukaimaBundle:User:index{% endblock %}
{% block body %}

  <h1>List of all users registered</h1>

  {#{{ dump(users) }}#}

  <div style="padding:10px;background:#fff; border-radius:2px">
      <table class="table table-striped">
        <thead>
          <a href="#" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Add new user</a>
          <tr>
            <th class="text-center">Member since</th>
            <th class="text-center">User name</th>
            <th class="text-center">Email</th>
            <th class="text-center">Roles</th>
            {% if is_granted("ROLE_SUPER_ADMIN") %}
            <th class="text-center">Action</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
        {% for u in users %}
          
          <tr>
            <td>{{ u.signindate | date("d/m/Y") }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.email }}</td>
            <td>
            {% for r in u.roles %}
                {% if r != "ROLE_USER" %}
                  {% if not loop.first %}, {% endif %}
                  {{ r }}
                {% endif %}
            {% endfor %}
            </td>
            {% if is_granted("ROLE_SUPER_ADMIN") %}
            <td class="text-center">
              <a class='btn btn-info btn-xs' href="{{ path('tsukaima_user_edit')}}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
              <a class="btn btn-danger btn-xs" href="{{ path('tsukaima_user_delete')}}"><span class="glyphicon glyphicon-remove"></span> Del</a>
            </td>
            {% endif %}
          </tr>

        {% endfor %}
        </tbody>
      </table>
  </div>

{% endblock %}
