{% extends "TsukaimaBundle::base.html.twig" %}
{% block title %}TsukaimaBundle:User:userprofile{% endblock %}
{% block body %}

    <h1>Welcome to the User:userprofile page</h1>
    <h2>Information of the user {{ user.name }}</h2>

    {{ dump(user) }}
    <p>{{ user.name }}</p>
    <p>{{ user.firstname }}</p>
    <p>{{ user.email }}</p>

{% endblock %}
